    body {
        
        font-family: Arial, sans-serif;
        background-color: beige;
        margin: 0;
        padding: 20px;
        display: block;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .container {

        text-align: center;
        margin: auto;
        background-color: grey;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 400px;
        height: 100%;

    }

h1
{

background-color: yellow;
display: inline-flex; /*LE COLOR CE AJOUSTE AU TEXT inline-flex*/    
/*DEGRADE REFLEC IMAGE*/ 
-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
box-shadow: 005px #03e9f4, 0015px #03e9f4, 0025px, #03e9f4, 00100px #03e9f4;
}
